@using System.Globalization
@using Scheduler.Models
@model AdminModel
@{
    ViewBag.Title = "Админка";
    var db = (Db)ViewBag.Db;
}
<form action="/Home/FindForAdmin" method="POST">
    <div class="row find-controls">
        <div class="form-inline" role="form">
            <div class="form-group">
                <label>Факультет</label>
                @Html.DropDownListFor(model => model.Search.FacultyId, db.Faculties.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Курс</label>
               @Html.DropDownListFor(model => model.Search.CourseId, new[] { "1", "2", "3", "4" }.Select(a =>
            new SelectListItem
            {
                Text = a,
                Value = a
            }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Группа</label>
                @Html.DropDownListFor(model => model.Search.GroupId, db.Groups.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>День недели</label>
                @Html.DropDownListFor(model => model.Search.DayOfWeekItemId, db.DayOfWeekItems.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Неделя</label>
                   @Html.DropDownListFor(model => model.Search.WeekNumberId, new[] { "1", "2" }.Select(a =>
            new SelectListItem
            {
                Text = a,
                Value = a
            }), new { @class = "form-control" })
            </div>
        </div>
    </div>
</form>
<script>
    $('select').change(function () {
        $.blockUI({ message: '<h4><img src="/images/busy.gif" /> Подождите...</h4>' });
        $('form')[0].submit();
    });
</script>
<hr />
<p></p>
<div class="row">
    <form action="/Home/Save" method="POST">
        @Html.HiddenFor(model => model.Search.FacultyId)
        @Html.HiddenFor(model => model.Search.CourseId)
        @Html.HiddenFor(model => model.Search.GroupId)
        @Html.HiddenFor(model => model.Search.DayOfWeekItemId)
        @Html.HiddenFor(model => model.Search.WeekNumberId)
        <table class="table table-hover table-condensed text-center">
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Предмет</th>
                    <th>Тип занятия</th>
                    <th>Преподователь</th>
                    <th>Аудитория</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ScheduleItem t in Model.Items)
                {
                    <tr>
                        <td>
                            @t.LessonTime.TimeOfBegin.ToString("HH:mm") - @t.LessonTime.TimeOfEnd.ToString("HH:mm")

                            @Html.HiddenFor(model => t.LessonTimeId)
                            @Html.HiddenFor(model => t.Id)
                        </td>
                        <td>
                            @Html.DropDownListFor(model => t.SubjectId, new SelectList(db.Subjects.ToArray(),
                                "Id", "Name", t.SubjectId), "", new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => t.LessonTypeId, new SelectList(db.LessonTypes.ToArray(),
                                "Id", "Name", t.LessonTypeId), "", new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => t.TeacherId, new SelectList(db.Teachers.ToArray(),
                                "Id", "Name", t.TeacherId), "", new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownListFor(model => t.AuditoriumId, new SelectList(db.Auditoriums.ToArray(),
                                "Id", "Name", t.AuditoriumId), "", new { @class = "form-control" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <input type="submit" class="btn btn-primary pull-right" value="Сохранить" />
        </div>
    </form>
</div>
