@using System.Globalization
@using Scheduler
@using Scheduler.Models
@model Scheduler.Models.AdminModel
@{
    ViewBag.Title = "Расписание";
    var db = (Db)ViewBag.Db;
}

<div class="row find-controls">
    <form class="form-inline" role="form" action="/Home/FindForUser/" method="POST">
        <div class="form-group">
            <label>Факультет</label>
            @Html.DropDownListFor(model => model.Search.FacultyId, db.Faculties.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Курс</label>
            @Html.DropDownListFor(model => model.Search.CourseId, db.Courses.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Группа</label>
            @Html.DropDownListFor(model => model.Search.GroupId, db.Groups.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>День недели</label>
            @Html.DropDownListFor(model => model.Search.DayOfWeekItemId, db.DayOfWeekItems.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Неделя</label>
            @Html.DropDownListFor(model => model.Search.WeekNumberId, db.WeekNumbers.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
    </form>
    <script>
        $('select').change(function () {
            $.blockUI({ message: '<h4><img src="/images/busy.gif" /> Подождите...</h4>' });
            $('form')[0].submit();
        });
    </script>
</div>
<hr />
<p></p>
<div class="row animated fadeIn">
    <table class="table table-hover table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
                <th>Суббота</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in db.LessonTimes.ToArray())
            {
                <tr>
                    <td>@time.Name</td>

                    @foreach (var item in db.DayOfWeekItems.ToArray())
                    {
                        LessonTime time1 = time;
                        DayOfWeekItem item1 = item;
                        var q = Model.Items.FirstOrDefault(sch => sch.LessonTimeId == time1.Id && sch.DayOfWeekItemId == item1.Id);

                        if (q != null)
                        {
                            <td>
                                @q.Subject.Do(a => a.Name)
                                <p></p>
                                @q.Teacher.Do(a => a.Name)
                                <p></p>
                                @if (q.Auditorium != null)
                                {
                                    <label class="label label-warning animated bounce">
                                        @q.Auditorium.Name
                                    </label>
                                }
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>