@using System.Globalization
@using Scheduler
@using Scheduler.Models
@model AdminModel
@{
    ViewBag.Title = "Расписание";
    var db = (Db)ViewBag.Db;
}

<hr />
<p></p>
<div class="row find-controls animated zoomInUp">
    <form class="form-inline" role="form" action="/Home/FindForUser/" method="POST">
        <div class="form-group">
            <label>Факультет</label>
            @Html.DropDownListFor(model => model.Search.FacultyId, db.Faculties.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Курс</label>
            @Html.DropDownListFor(model => model.Search.CourseId, new[] {"1", "2", "3", "4"}.Select(a =>
            new SelectListItem
            {
                Text = a,
                Value = a
            }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Группа</label>
            @Html.DropDownListFor(model => model.Search.GroupId, db.Groups.ToArray().Select(a =>
                    new SelectListItem
                    {
                        Text = a.Name,
                        Value = a.Id.ToString(CultureInfo.InvariantCulture)
                    }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Неделя</label>
            @Html.DropDownListFor(model => model.Search.WeekNumberId, new[] { "1", "2" }.Select(a =>
            new SelectListItem
            {
                Text = a,
                Value = a
            }), new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default navbar-btn" onclick="loadInfo()">Показать</button>
        </div>
</form>
    <script>
        function loadInfo() {
            $.blockUI({ message: '<h4><img src="/images/busy.gif" /> Подождите...</h4>' });
            $('form')[0].submit();
        }
    </script>
</div>
<hr/>
<p></p>
<div class="row animated fadeIn">
    <table class="table table-hover table-condensed table-bordered text-center">
        <thead>
            <tr>
                <th></th>
                <th class="animated fadeInDown">Понедельник</th>
                <th class="animated fadeInDown">Вторник</th>
                <th class="animated fadeInDown">Среда</th>
                <th class="animated fadeInDown">Четверг</th>
                <th class="animated fadeInDown">Пятница</th>
                <th class="animated fadeInDown">Суббота</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var time in db.LessonTimes.ToArray())
            {
                <tr>
                    <td class="animated zoomIn">@time.TimeOfBegin.ToString("HH:mm") - @time.TimeOfEnd.ToString("HH:mm")</td>

                    @foreach (var item in db.DayOfWeekItems.ToArray())
                    {
                        LessonTime time1 = time;
                        DayOfWeekItem item1 = item;
                        var q = Model.Items.FirstOrDefault(sch => sch.LessonTimeId == time1.Id && sch.DayOfWeekItemId == item1.Id);

                        if (q != null)
                        {
                            <td>
                                @q.Subject.Do(a => a.Name) 
                                <p></p>
                                @if (q.LessonType != null)
                                {
                                    <label class="badge">
                                        @q.LessonType.Name
                                    </label>
                                }
                                <p></p>
                                @q.Teacher.Do(a => a.Name)
                                <p></p>
                                @if (q.Auditorium != null)
                                {
                                    <label class="label label-primary animated bounce" style="font-size:88%">
                                        @q.Auditorium.Name
                                    </label>
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                    }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>